block header
    header.header
        .container
            .header__flex
                ul.menu 
                    li.menu__item 
                        a(href="#").menu__item_href Контрагентам
                    li.menu__item 
                        a(href="#").menu__item_href Дизайнерам
                    li.menu__item 
                        a(href="#").menu__item_href Вакансии
                .logo__header 
                    img(src="img/logo.png", alt="logo").logo
                .menu__login
                    a(href="#").search Поиск
                    a(href="#").register Вход/Регистрация
                    .cabinet
                        img(src="img/account.svg", alt="account")
                        img(src="img/like.svg", alt="like")
                h1 Долго, дорого, богато!
                a(href="#").btn.btn__header Каталог изделий
                .header__offer-img 
                    img(src="img/brands-item.png", alt="barnd-img")
                    img(src="img/brands-item.png", alt="barnd-img")
                    img(src="img/brands-item.png", alt="barnd-img")
                    img(src="img/brands-item.png", alt="barnd-img")
                    img(src="img/brands-item.png", alt="barnd-img")
                    img(src="img/brands-item.png", alt="barnd-img")