block newslatter 
    section.newslatter  
        .container
            p.title__description.white Полезные советы и персональный предложения
            h2.section__title.white Эксклюзивная рассылка
            .newslatter__flex
                .newslatter__item 
                    p.newslatter__item__description Личный менеджер
                    p.newslatter__item__description Доставка и оформление
                    p.newslatter__item__description Индивидуальный дизайн
                .newslatter__form 
                    form(action="").newslatter__form_form
                        input(type="text", name="email", placeholder="Ваш e-mail")
                        input(type="submit", value="отправить").btn.btn__form